$title
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
cu 1-91                                                                        \
   basis =cu def2-SVP                                                          \
   jbas  =cu def2-SVP
c  92-95                                                                       \
   basis =c def2-SVP                                                           \
   jbas  =c def2-SVP
o  96-99                                                                       \
   basis =o def2-SVP                                                           \
   jbas  =o def2-SVP
co 100                                                                         \
   basis =co def2-SVP                                                          \
   jbas  =co def2-SVP
$basis    file=basis
$rundimensions
   dim(fock,dens)=5898924
   natoms=100
   nshell=1060
   nbf(CAO)=3432
   nbf(AO)=2964
   dim(trafo[SAO<-->AO/CAO])=4368
   rhfshells=1
$scfmo   file=mos
$scfiterlimit       400
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor      500
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$dft
   functional pbe
   gridsize   m3
$scfconv   6
$scfdamp   start=15.700  step=0.050  min=0.050
$ricore      500
$rij
$jbas    file=auxbasis
$fermi
$last step     ridft
$closed shells
 a       1-1359                                 ( 2 )
 a       1360                                   (     1.35485062597286 )
 a       1361                                   (     1.34954341059455 )
 a       1362                                   (     1.22458964736074 )
 a       1363                                   (     0.04393119579862 )
 a       1364                                   (     0.02708529945083 )
$orbital_max_rnorm 0.14235859430766E-03
$last SCF energy change = -151084.58
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-151084.5847637    -865034.7124490     392839.3780643     0.000000000000     0.000000000000     327312.6402758
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00041120761307    y    -0.00042254647997    z    -0.21894497809990    a.u.
   | dipole | =    0.5565088490  debye
$end
